<section class="banner container" fxLayout="row" fxLayoutAlign="center center">

    <div class="banner-content">
    	
       <h1 class="banner-title mat-display-5 mt-4">
            Market Place
       </h1>
         
       <h2 class="banner-subtitle mat-subheading-1">
            We offer the best adventure holidays and tailor-made trips!
       </h2>
            
    </div>

</section>

<section class="store container mt-4">

	<span>Home</span> / <span>Market</span>

	<div fxLayout="row wrap" fxLayout.sm="column wrap" fxLayoutAlign="start" fxLayoutGap="20px">
		<mat-card class="store-card mt-4" *ngFor="let car of StoreList" >
		  <mat-card-header>
		    <mat-card-title class="mat-h5 text-primary">{{car.name}}</mat-card-title>
		  </mat-card-header>
		  <img mat-card-image [src]="car.image" [alt]="car.alt">
		  <mat-card-content>
		    <p>
				{{car.description}}	      
		    </p>
		    <p mat-subheading-1 style="color: var(--primary-p-color);">Price: {{car.price}}</p><p mat-subheading-1> Date Added: {{car.date_added}}</p>
		  </mat-card-content>
		  <mat-card-actions>
		    <a mat-raised-button color="primary" [routerLink]="'/view/'  + car.id">View Details</a>
		  </mat-card-actions>
		</mat-card>
	</div>

</section>

<section class="load-more container mt-4 mb-4">
	<div fxLayout="row" fxLayoutAlign="center center"> 
		<button mat-raised-button color="primary">Load More</button>
	</div>
</section>



