.footer {
	background: var(--secondary-bg-color);
	color: var( --white-color);
	padding: 100px 50px;
}
.mat-list{
	width: 290px !important;
}
.footer-bottom{
	background: var(--secondary-bg-color-2);
	color: var( --white-color);
	padding: 20px 0;
}